{% extends "pengguna/base.html" %}
{% block content %}
  <div class="card">
      <div class="card-header">
          <h4>INVOICE DASHBOARD</h4>
          
      </div>
      <div class="card-body">
          {% include 'invoice/inv_menu.html' %}
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Odio at eum ut facere illum, voluptatem facilis cupiditate magnam porro 
          optio aut quae quod quisquam molestiae ipsam labore. Ipsa iure alias eos 
          ab incidunt similique ipsum, nisi cupiditate vero aut corrupti 
          laboriosam, blanditiis ducimus? Quod nesciunt voluptates assumenda 
          fuga pariatur dolorem?
      </div>
  </div>
{% endblock content %}